:root {
    --primary-color: #FE921D;
    --secondary-color: #0DB14B;
    --tertiary-color: #ED1A3B;
    color-scheme: light dark;
    accent-color: var(--tertiary-color);
}

/* prefers-color-scheme: dark */
::selection {
    background-color: var(--tertiary-color);
}

@media (prefers-color-scheme: light) {
    ::selection {
    background-color: var(--tertiary-color);
        color: #ffffff;
    }
}
