.Link-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;

    font-weight: bold;
    font: 700 13px/18px;

    width: 150px;
    height: 35px;

    margin: 15px;
    border-radius: 20px;

    color: hsl(21, 88%, 20%);
    background-color: hsl(0, 0%, 100%);
}

.Link-button:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(21, 88%, 20%);
}
