/* @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
    background-image: linear-gradient(hsl(21, 88%, 20%), hsl(21, 88%, 80%));
}
*/

.Overview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 8px solid hsl(0, 0%, 100%);
    width: 1000px;
}
