@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
    font-family: 'Poppins';
}

.Start {
    position: absolute;
    background-image: url("/public/assets/img/bg-start.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display:grid;
    place-items: center;
}

.centerLinkButton {
    outline: solid 8px hsl(0, 0%, 100%);
}
