@import url('themes/color-scheme.css');

.btn {
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
    margin: 2em;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    background-color: var(--primary-color);
    display: block;
}

.btn:hover {
    color: var(--primary-color);
    background-color: hsl(0, 0%, 100%);
}
