main.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin: 1rem;
    grid-gap: 1rem;
}

@media screen and (max-width: 768px) {
    main.container {
        grid-template-columns: 1fr;
    }
}
